# Frontend
/linkhub-frontend/node_modules/
/linkhub-frontend/dist/
/linkhub-frontend/build/


# Backend - Go
/linkhub-backend/.env

# Go build artifacts
/linkhub-backend/bin/
/linkhub-backend/*.exe
/linkhub-backend/*.out

# OS
.DS_Store
/linkhub-frontend/.env
